# ======================
# ENV FILES
# ======================
.env.dev
.env.prod

# ======================
# NODE
# ======================
node_modules/
dist/
.pnpm-store/

# ======================
# JAVA / MAVEN
# ======================
target/
*.log

# ======================
# DOCKER
# ======================
mysql_data/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db
