services:
  mysql:
    image: mysql:8.4
    restart: always
    env_file:
      - .env
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    image: faculuna27/banking-backend:latest
    env_file:
      - .env
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "8080:8080"

  frontend:
    image: faculuna27/banking-frontend:latest
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mysql_data: