services:
  mysql:
    image: mysql:8.4
    container_name: banking-mysql
    restart: always
    env_file:
      - .env.dev
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10

  backend:
    build: ./banking-system-server
    container_name: banking-backend
    env_file:
      - .env.dev
    depends_on:
      - mysql
    ports:
      - "8080:8080"

  frontend:
    build: ./banking-system-client
    container_name: banking-frontend
    env_file:
      - .env.dev
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  mysql_data:
