server:
  servlet:
    context-path: /api/v1

spring:
  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  sql:
    init:
      mode: never
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    defer-datasource-initialization: false
    properties:
      hibernate:
        format_sql: false
  logging:
    level:
      org.hibernate.SQL: INFO
      org.hibernate.jdbc.datasource.init.ScriptUtils: INFO

